* {
  margin:0px;
  padding:0px;
}


p {
  display: block;
  width: 1000px;
  margin: 00px auto;
  font: 14px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

body {
  background-color: #F0FFFF;
  margin: 0;
  padding: 0;
}

ul {
  color: #000000;
  background-color: #F8F8FF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

li {
  color: #000000;
  background-color: #F8F8FF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

#navigation {
  text-align:right;
  background-color: #F0FFFF;
  margin: 0;
  padding: 0;
}

.active {
  color: #006400;
}
