* {
  margin:0px;
  padding:0px;
}

#TopsideIntelligence {
  display: block;
  width:1000px;
  margin: 50px auto;
}

p {
  display: block;
  width: 1000px;
  margin: 00px auto;
  font: 14px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

body {
  background-color: ##F0FFFF;
  margin: 0;
  padding: 0;
}

ul {
  color: #000;
  background-color: #EEE;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

li {
  color: #3587A4;
  background-color: #3587A4;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.active {
  color: #006400;
}
